/* CSS Document */

body{
    background-image: linear-gradient(#05f, #000);
    background-image: linear-gradient(to right, #930 , #888);
    font: 15px arial, sans-serif;
}

.btnPressed{
    background-color: yellow;
}

button{
    border: 1px solid red;
    color: white;
    background-color: #33a;
    margin: 10px 10px 10px 10px;
}

input{
    width: 50px;
}

td{
    border: 1px solid red;
    color: white;
    background-color: black;
}

.tdConfig{
    border: 1px solid red;
    color: white;
    background-color: black;
}
.thConfig{
    border: 1px solid red;
    color: white;
    background-color: rgb(125,0,0);
}


th{
    border: 1px solid red;
    color: white;
    background-color: rgb(125,0,0);
}
